# Exclude files from repo
wp-content/updraft/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
sitemap.*

.htaccess

wp-content/advanced-cache.php
wp-content/db.php
wp-content/w3tc-config/*

.ftpquota

wp-config.php
local-config.php

# OS / Text editor files
.DS_Store
*.sublime-project
*.sublime-workspace